{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper textRed">
    <h1>{{ name }}</h1>
    <div class="alert alert-danger" role="alert">
        Test
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="count">
                {{ pagination.getTotalItemCount }}

                {{ dump(valores) }}
            </div>
            <table class="table table-hover">

                <thead>

                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'Recipe.id') }}</th>
                        <th{% if pagination.isSorted('Recipe.default_name') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Nombre', 'Recipe.default_name') }}
                        </th>
                        <th scope="col">Calorias</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Vegano</th>
                        <th scope="col">Opciones</th>
                    </tr>

                </thead>

                <tbody>


                {% for recipe in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <th>{{ recipe.id }}</th>
                        <td>{{ recipe.default_name }}</td>
                        <td>{{ recipe.calories }}</td>
                        <td>{{ recipe.time }}</td>
                        <td>{% if recipe.vegan == false %}No{% else %}Si{% endif %}</td>
                        <td><button class="btn btn-success">Editar</button></td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    </div>
</div>
{% endblock %}
